
/* ===== Styles ========================================================
   Author: Azeem Khan
   Copyright: Kasovious Incorporation
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Quando);
@import url(http://fonts.googleapis.com/css?family=Exo:200);

@charset "utf-8";

body{
	margin:0px;
	padding:0px;
	background:#42a1cd;
	overflow-x:hidden;
}

/*====================== Global Style =====================*/
a,a:active,a:visited{
	color:#fff;
}

.flexslider .slides li{
	border:2px solid #42a1cd;
}

/*====================== End Of Global Style =====================*/
.mainslide{
	background:#42a1cd;
}


/*====================== First Slide ======================*/

.mainslide li{
	background:#42a1cd;
	height:100%;
}
.mainslide li .login{
	padding:50px 50px 10px 50px;
	background:rgba(255,255,255,.8);
}

.mainslide li .register{
	padding:20px 50px 20px 50px;
	background:rgba(255,255,255,.8);
	text-align:center;
}

.mainslide li .register a{
	font-family: 'Quando', serif;
	font-size:0.8em;
	color:#6a6a6a;	
}
.mainslide li .login #row1 input{
	height:50px;
	font-size:24px;
	font-family: 'Source Sans Pro', sans-serif;
}

.logo{
	padding-top:3%;
	
}

.login #row1 input:nth-child(1){
	background-image:url(../images/user.png);
	background-position:right;
	background-repeat:no-repeat;
}

.login #row1 input:nth-child(1):focus{
	border-bottom:5px solid #3d5b7f;
	background-image:url(../images/user1.png);
	background-position:right;
	background-repeat:no-repeat;
}

.login #row1 input:nth-child(2){
	background-image:url(../images/pass.png);
	background-position:right;
	background-repeat:no-repeat;
}

.login #row1 input:nth-child(2):focus{
	border-bottom:5px solid #3d5b7f;
	background-image:url(../images/pass1.png);
	background-position:right;
	background-repeat:no-repeat;
}

.login #remember,#check_forgot{
	display:none;
}

#remember + .rem_box{
	background:#999;
	text-align:right;
	background-image:url(../images/check.png);
	background-position:left;
	background-repeat:no-repeat;
	padding:4px 12px 0px 0px;
	font-size:1.2em;
	height:35px;
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#remember:checked + .rem_box {
	background:#060;
	text-align:right;
	background-image:url(../images/check1.png);
	background-position:left;
	background-repeat:no-repeat;
	padding:4px 12px 0px 0px;
	font-size:.9em;
	height:35px;
	color:#fff;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

#plus{
	padding-top:2%;
	padding-left:6.2%;
	height:35px;
}

#check_forgot + #forgot{
	background:#999;
	padding-top:4px;
	text-align:center;
	font-size:1.2em;
	height:35px;
	color:#fff;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
}

#check_forgot:checked + #forgot{
	background:#c00;
	padding-top:4px;
	text-align:center;
	font-size:1.2em;
	height:35px;
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}

#row2{
	padding-top:1.8%;
}

#row3{
	padding-top:5.5%;
}

input[type="button"]{
	border:none;
	width:100%;
}

#row3 input[type="button"] {
	height:40px;
	background:#3d5b7f;
	color:#fff;
	font-size:1.3em;
	font-family: 'Quando', serif;
	cursor:pointer;
}


/*====================== End Of First Slide ===============*/


/*====================== Home Page ========================*/

#home_main{
	padding-top:5%;
}

.box{
	background:rgba(255,255,255,0.2);
	padding-top:2%;
	padding-bottom:3%;
}

#home_main h2{
	color:#fff;
	text-shadow:1px 1px 1px #000;
	font-family: 'Source Sans Pro', sans-serif;
}

#home_main h2{
	margin-bottom:5%;
}

#home_input label{
	color:#fff;
	font:Arial, Helvetica, sans-serif;
	font-size:1.3em;
	padding-top:1%;
	text-shadow:1px 1px #aaa;
}

#home_input textarea{
	resize:vertical;
}

#home_input input:focus, #home_input textarea:focus{
	border-color:#000;
}

#home_btn button{
	margin-top:3%;
	border:none;
	height:30px;
	margin-bottom:3%;
}


/*====================== End Of Home Page =================*/



















